@charset "UTF-8";

/* Configurações de estilos para aparelhos de desktop */
*{
    padding: 0;
    margin: 0;
}  

body{
    font-family: Arial, Helvetica, sans-serif;
}

#conversa01{/* Imagem da conversa 1*/
    position: absolute;
    width: 30%;
    height: auto;  
    top: 30%;
    left: 15%;

    transform: translate(-50%, -15%);
}

#conversa02{/* Imagem da conversa 2*/
    position: absolute;
    width: 30%;
    height: auto;  
    top: 30%;
    left: 85%;

    transform: translate(-50%, -15%);
}

header{
    margin: 10px
}

header > h1{
    text-align: center;
    font-size: 18pt;
    padding: 10px 0px 15px 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
}

header h2{
    text-align: center;
    font-size: 11pt;
    text-indent: 2em;
    padding-bottom: 20px;
    line-height: 1.5em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}

main{
    background-color: rgba(255, 255, 255, 0.137);
    width: 500px;
    height: 450px;
    border-radius: 15px;
    color: rgb(61, 60, 42);
    
    margin: auto;
    padding: 0px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.384);

    transition: width .4s, height .4s;
    transition-timing-function: ease;
}

.content{
    width: 100%;
}

main > .content form label{
    margin: 10px;
    user-select: none;
}

main > .content form #iemail, 
main > .content form #inome, 
main > .content form #iusername, 
main > .content form #isenha{
    width: 85%;
    height: 35px;
    border-radius: 10px;
    border: 0px solid rgba(0, 0, 0, 0.863);
    outline: none;
    padding-left: 4px;
    margin: 5px 0 5px 0;
    background-color: transparent;
}

main > .content button{
    width: 95%;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 208, 0, 0.897);
    color: white;
    font-size: 11pt;
    font-weight: bold;
    border: 0px solid black;
    margin: 20px 10px 5px 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
    box-shadow: 0px 0px 20px 3px rgb(237, 210, 10);
    transition: .4s;
}

main > .content button:hover{
    cursor: pointer;
    background-color: rgb(255, 209, 3);
    box-shadow: 0px 0px 20px 10px rgb(255, 208, 0);
}

hr{
    width: 0%;
    position: absolute;
    left: 5%;
    border: none;
    background-color: rgba(0, 0, 0, 0.247);
    height: 1px;
    transition: .4s;
}

.linha_destaque{
    width: 90%;
    position: absolute;
    left: 5%;
    border: none;
    background-color: black;
    height: 1px;
}

.erro{
    width: 90%;
    left: 5%;
    border: 1px solid red;
    background-color: rgb(255, 0, 0);
    height: 1px;
}



/* Configuração de estilo para aparelhos de tablet */
@media screen and (min-width: 700px) and  (max-width: 1100px){

    main{
        background-color: rgba(255, 255, 255, 0.575);
        width: 750px;
        height: 450px;
    }

    ::placeholder{
        color: rgba(0, 0, 0, 0.699);
    }
}

/* Configuração de estilo para aparelhos de celular */
@media screen and (min-width: 290px) and  (max-width: 700px){

    picture{
        display: none;
    }
    
    main{
        width: 300px;
        height: 460px;
    }

    main > .content form #iemail, 
    main > .content form #inome, 
    main > .content form #iusername, 
    main > .content form #isenha{
        width: 80%;
    }
}